<section id="floatNavbar">
    <div class="floatNavbar-block">
        <div  class="floatNavbar-bg">
            <div id="float-nav" class=" floatNavbar-bg floatNavbar-items">
                <div class="container">
                    <a class="floatNavbar-item floatNavbar-link active" href="#">О курсе</a>
                    <a class="floatNavbar-item floatNavbar-link" href="#">Процес обучения</a>
                    <a class="floatNavbar-item floatNavbar-link" href="#">После обучения</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--

<section id="floatNavbar" >
    <div class="nav-menu">
        <div  class="nav-menu-color">
            <div id="float-nav" class=" nav-menu-color nav-items-course">
                <div class="container">
                    <a class="nav-item-menu nav-menu-link active" href="#">О курсе</a>
                    <a class="nav-item-menu nav-menu-link" href="#">Процес обучения</a>
                    <a class="nav-item-menu nav-menu-link" href="#">После обучения</a>
                </div>
            </div>
        </div>
    </div>
-->
</section>